@font-face {
  font-family: "Donzelli Main";
  src: url("../../public/fonts/donzelli-main.woff2") format("woff2"),
    url("../../public/fonts/donzelli-main.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
