@import "./fonts", "./variables";

.arrow-item {
  width: 10px;
  margin-left: 5px;
}

.underlined {
  text-underline-offset: 2px;
  text-decoration: normal;
  &:hover {
    text-decoration: underline;
  }
}

.nav-item-typo {
  font-family: "Donzelli Main";
  letter-spacing: -0.01em;
  font-size: calc(
    18px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 100%;
  position: relative;
}

@media (min-width: 1500px) {
  .nav-item-typo {
    font-size: calc(
      13px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
    );
  }
}

@media (max-width: 800px) {
  .nav-item-typo {
    font-size: 14px;
  }
}

.small-text {
  font-family: "Donzelli Main";
  letter-spacing: -0.01em;
  font-size: calc(
    18px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 140%;
  position: relative;
}

@media (min-width: 1500px) {
  .small-text {
    font-size: calc(
      16px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
    );
  }
}

.sidebar-item-desk {
  font-family: "Donzelli Main";
  letter-spacing: -0.03em;
  font-size: calc(
    45px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 100%;
  position: relative;
  width: fit-content;
}

.sidebar-item-mobile {
  font-family: "Donzelli Main";
  letter-spacing: -0.03em;
  font-size: 36px;
  line-height: 100%;
  position: relative;
  width: fit-content;
}

.second-sidebar-item-mobile {
  font-family: "Donzelli Main";
  letter-spacing: -0.03em;
  font-size: 24px;
  line-height: 100%;
  position: relative;
  width: fit-content;
}

.subtitle {
  font-family: "Donzelli Main";
  letter-spacing: -0.02em;
  font-size: calc(
    36px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 120%;
  position: relative;
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 24px;
  }
}

.thirdtitle {
  font-family: "Donzelli Main";
  letter-spacing: -0.02em;
  font-size: calc(
    26px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 120%;
  position: relative;
}

@media (max-width: 800px) {
  .thirdtitle {
    font-size: 22px;
  }
}
