@import "./fonts", "./variables";

.arrow-item {
  width: 10px;
  margin-left: 5px;
  mix-blend-mode: difference;
}

.underlined {
  text-underline-offset: 2px;
  text-decoration: normal;
  &:hover {
    text-decoration: underline;
  }
}

.underlined1 {
  text-underline-offset: 2px;
  text-decoration: underline;
}

.button-type-1 {
  padding: 12px 15px;
  border-radius: 400px;
  border: 1px solid $donzelli3;
  background-color: $donzelli3;
  color: $donzelli1;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  .dotbutton {
    width: 10px;
    height: 10px;
    background-color: $donzelli1;
    border-radius: 200px;
    margin-right: 10px;
    animation: clignDotButton 2s linear infinite;
  }

  @keyframes clignDotButton {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  p {
    line-height: 90%;
  }
  img {
    mix-blend-mode: difference;
    width: 10px;
    margin-left: 10px;
  }

  &:hover {
    background-color: $donzelli1;
    color: $donzelli3;
    .dotbutton {
      background-color: $donzelli3;
    }
  }
}

.button-type-2 {
  padding: 12px 15px;
  border-radius: 400px;
  border: 1px solid $donzelli1;
  background-color: $donzelli1;
  color: $donzelli3;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  .dotbutton {
    width: 10px;
    height: 10px;
    background-color: $donzelli3;
    border-radius: 200px;
    margin-right: 10px;
    animation: clignDotButton 2s linear infinite;
  }

  @keyframes clignDotButton {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  p {
    line-height: 90%;
  }
  img {
    mix-blend-mode: difference;
    width: 10px;
    margin-left: 10px;
  }

  &:hover {
    background-color: $donzelli3;
    color: $donzelli1;
    .dotbutton {
      background-color: $donzelli1;
    }
  }
}

.button-type-3 {
  padding: 12px 15px;
  border-radius: 400px;
  border: 1px solid $donzelli1;
  background-color: $donzelli1;
  color: $donzelli3;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  .dotbutton {
    width: 10px;
    height: 10px;
    background-color: $donzelli3;
    border-radius: 200px;
    margin-right: 10px;
    animation: clignDotButton 2s linear infinite;
  }

  @keyframes clignDotButton {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  p {
    line-height: 90%;
  }
  img {
    mix-blend-mode: difference;
    width: 15px;
    margin-left: 10px;
  }

  &:hover {
    background-color: $donzelli3;
    color: $donzelli1;
    .dotbutton {
      background-color: $donzelli1;
    }
  }
}

@media (max-width: 800px) {
  .button-type-1,
  .button-type-2,
  .button-type-3 {
    padding: 9px 13px 8px 15px;
    .dotbutton {
      width: 7px;
      height: 7px;
    }
  }
}

.nav-item-typo {
  font-family: "Donzelli Main";
  letter-spacing: -0.01em;
  font-size: calc(
    17px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 100%;
  position: relative;
}

@media (min-width: 1500px) {
  .nav-item-typo {
    font-size: calc(
      14.5px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
    );
  }
}

@media (max-width: 800px) {
  .nav-item-typo {
    font-size: 12px;
  }
}

.small-text {
  font-family: "Donzelli Main";
  letter-spacing: -0.01em;
  font-size: calc(
    17px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 140% !important;
  position: relative;
}
@media (min-width: 1500px) {
  .small-text {
    font-size: calc(
      14.5px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
    );
  }
}

@media (max-width: 800px) {
  .small-text {
    font-size: 12px;
  }
}

.small-text-bigger-in-mobile {
  font-family: "Donzelli Main";
  letter-spacing: -0.01em;
  font-size: calc(
    18px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 140% !important;
  position: relative;
}
@media (min-width: 1500px) {
  .small-text-bigger-in-mobile {
    font-size: calc(
      14.5px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
    );
  }
}

@media (max-width: 800px) {
  .small-text-bigger-in-mobile {
    font-size: 13px;
  }
}

.sidebar-item-desk {
  font-family: "Donzelli Main";
  letter-spacing: -0.03em;
  font-size: calc(
    45px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 100%;
  position: relative;
  width: fit-content;
}

.sidebar-item-mobile {
  font-family: "Donzelli Main";
  letter-spacing: -0.03em;
  font-size: 36px;
  line-height: 100%;
  position: relative;
  width: fit-content;
}

.second-sidebar-item-mobile {
  font-family: "Donzelli Main";
  letter-spacing: -0.03em;
  font-size: 24px;
  line-height: 100%;
  position: relative;
  width: fit-content;
}

.heavytitle {
  font-family: "Donzelli Main";
  letter-spacing: -0.035em;
  font-size: calc(
    105px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 100%;
  position: relative;
}

@media (max-width: 800px) {
  .heavytitle {
    font-size: 65px;
  }
}

.maintitle {
  font-family: "Donzelli Main";
  letter-spacing: -0.025em;
  font-size: calc(
    62px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 110%;
  position: relative;
}

@media (max-width: 800px) {
  .maintitle {
    font-size: 34px;
  }
}

.semititle {
  font-family: "Donzelli Main";
  letter-spacing: -0.03em;
  font-size: calc(
    54px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 110%;
  position: relative;
}

@media (max-width: 800px) {
  .semititle {
    font-size: 34px;
  }
}

.subtitle {
  font-family: "Donzelli Main";
  letter-spacing: -0.02em;
  font-size: calc(
    36px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 120%;
  position: relative;
}

@media (max-width: 800px) {
  .subtitle {
    font-size: 24px;
  }
}

.thirdtitle {
  font-family: "Donzelli Main";
  letter-spacing: -0.02em;
  font-size: calc(
    26px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 20
  );
  line-height: 120% !important;
  position: relative;
}

@media (max-width: 800px) {
  .thirdtitle {
    font-size: 19px;
  }
}
