// WHITE

// $donzelli1: #faf9f8; // main color background
// $donzelli1bis: #ededed; // second background color
// $donzelli2: #e3e3e3; // lignes
// $donzelli2bis: #252525; // lignes black
// $donzelli3: #151515; // main color text
// $donzelli3bis: #1d1d1d; // black second background
// $donzelli4: #878787; // second color text

// CREAM

// $donzelli1: #efece9; // main color background
// $donzelli1bis: #e7e4e0; // second background color
// $donzelli1bisbis: #d7d4d0; // second background color
// $donzelli2: #dfd9d3; // lignes
// $donzelli2bis: #252525; // lignes black
// $donzelli3: #151515; // main color text
// $donzelli3bis: #1d1d1d; // black second background
// $donzelli4: #9f9993; // second color text
// $donzelli5: #9f9993; // second color text

// FINAL
$donzelli1: #faf9f8; // main color background
$donzelli1bis: #f2f0ee; // second background color
$donzelli1bisbis: #ebe9e7; // second background color
$donzelli2: #eeeae6; // lignes
$donzelli2bis: #252525; // lignes black
$donzelli3: #151515; // main color text
$donzelli3bis: #1d1d1d; // black second background
$donzelli4: #b1aeae; // second color text
$donzelli5: #b1aeae; // second color text
