$donzelli1: #f5f3eb; // main color background
$donzelli1bis: #e8e6dd; // second background color
$donzelli2: #e3e3e3; // lignes
$donzelli2bis: #252525; // lignes black
$donzelli3: #151515; // main color text
$donzelli3bis: #1d1d1d; // black second background
$donzelli4: #878787; // second color text

// $staminalight1: #000d10;
// $staminalight2: #000d10;
// $staminadark1: #e8e4df;
// $staminadark2: #dbd5cd;
// $staminadark3: #dbd5cd;
// $staminadark4: #dbd5cd;
// $staminagrey1: #dbd5cd;
// $staminared1: #3b0600;
