$donzelli1: #151515 !important; // main color background
$donzelli1bis: #151515 !important; // second background color
$donzelli2: #343333 !important; // lignes black
$donzelli3: #efece9 !important; // main color text
$donzelli3bis: #e7e4e0 !important; // black second background
$donzelli4: #77736f !important; // second color text
