@import "../../scss/variables";

.brands-pro-container-home {
  width: calc(100%);
  //   margin-left: -10px;
  //   margin-top: 15vh;
  background-color: $donzelli3;
  height: 85vh;
  color: $donzelli1;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .line-flux {
    background-color: $donzelli2bis;
  }

  .background-studio-pro {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .centered-logo-studiopro-home {
    height: 45px;
    position: relative;
    top: -20px;
  }
}

.container-info-studio-pro-section-inside {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $donzelli3;
  //   border: 1px solid red;
}

.sub-container-studio-pro-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   border: 1px solid blue;
  margin-left: 5%;
  width: 50%;
}

.logo-studiopro-section {
  height: 60px;
  left: 25%;
}
.description-studiopro-section {
  margin-top: 15px;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .container-info-studio-pro-section-inside {
    left: 0;
    top: 50%;
    height: 50%;
    width: 100%;
  }

  .sub-container-studio-pro-section {
    width: 60%;
    margin-left: 0;
  }

  .logo-studiopro-section {
    position: absolute;
    top: -18vh;
  }

  .description-studiopro-section {
    margin-top: -10px;
    margin-bottom: 30px;
  }
}

.intro-studio-pro {
  margin-top: 20vh;
  margin-bottom: 20px;
  width: 90%;

  a {
    padding: 0px 16px;
    border: 2px solid $donzelli3;
    // background-color: $donzelli3;
    // color: $donzelli1;
    border-radius: 999px;
    display: inline-block;
    width: fit-content;
    transition: 0.3s ease;
    &:hover {
      background-color: $donzelli3;
      color: $donzelli1;
    }

    img {
      width: 36px;
      mix-blend-mode: difference;
      position: relative;
      top: -5px;
    }
  }
}

.intro-subtitle-studio-pro {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 75%;
}

.brands-container-home {
  margin-top: 20vh;

  .line-flux {
    margin-top: 40px;
  }
  .swiper-slide {
    width: 18vw !important;
  }
  .swiper-slide-container {
    // background-color: $donzelli3bis !important;
    // color: $donzelli1 !important;
    img {
      mix-blend-mode: difference;
    }
  }

  .container-title-items {
    display: flex;
    position: relative;
    .title-items {
      padding-left: 0px;
    }
    .description-items-home {
      position: absolute;
      left: calc((8.33vw * 8) - 18px);
      // border: 1px solid red;

      .button-type-2 {
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 800px) {
  .brands-pro-container-home {
    margin-top: 0vh;
    height: 60vh;
    .background-studio-pro {
      height: 50%;
      width: 100%;
    }
    .centered-logo-studiopro-home {
      height: 30px;
    }
  }

  .intro-studio-pro {
    margin-top: 15vh;
    width: 100%;
    a {
      padding: 2px 12px;
      position: relative;
      left: -2px;
      img {
        width: 20px;
        top: -2px;
      }
    }
  }

  .intro-subtitle-studio-pro {
    width: 100%;
  }
  .brands-container-home {
    margin-top: 10vh;
    .swiper-container {
      width: calc(100vw);
      margin-top: 10px !important;
    }
    .swiper-slide {
      width: 40vw !important;
    }
    .swiper-slide-container {
      height: 30vh;
      .container-title-item-swiper-home {
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .brands-container-home {
    .items-container-home {
      margin-top: 10vh;
      .line-flux {
        margin-top: 40px;
      }
    }
    .container-title-items {
      flex-direction: column;

      .title-items {
        position: relative;
        left: -5px;
        padding-left: 0;
      }

      .description-items-home {
        position: relative;
        left: 0;
        margin-top: 5px !important;
        //   padding-left: 20%;
      }
    }
  }
}
