@import "../../scss/variables";

.items-container-home {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;

  .line-flux {
    margin-top: 20px;
  }
}

.container-title-items {
  display: flex;
  position: relative;
  .title-items {
    padding-left: calc((8.33vw * 2) - 2px);
  }
  .description-items-home {
    position: absolute;
    left: calc((8.33vw * 8) - 18px);
    // border: 1px solid red;

    .button-type-1 {
      margin-top: 15px;
    }
  }
}

@media (max-width: 800px) {
  .items-container-home {
    margin-top: 10vh;
    .line-flux {
      margin-top: 40px;
    }
  }
  .container-title-items {
    flex-direction: column;
    // padding-left: 20%;
    .title-items {
      position: relative;
      left: -5px;
      padding-left: 0;
    }

    .description-items-home {
      position: relative;
      left: 0;
      margin-top: 5px !important;
      padding-left: 20%;
    }
  }
}

.swiper-container {
  width: 100vw;
  margin-left: -10px !important;
  //   border: 1px solid red;
  margin-top: 15px !important;
}

.swiper-slide {
  width: 20vw !important;
  box-sizing: border-box;
  margin-left: 10px;
}

.last-slide {
  margin-right: 10px;
}

.swiper-slide-container {
  background: $donzelli1bis;
  border-radius: 5px;
  height: 35vh;
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  .arrow {
    mix-blend-mode: difference;
    transform: rotate(45deg);
    transition: 0.3s ease;
    width: 10px;
  }

  &:hover {
    .arrow {
      transform: rotate(0);
      transition: 0.3s ease;
    }
  }

  .container-title-item-swiper-home {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 12px 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .icon-img-items-swiper-home {
    position: absolute;
    top: 13%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .swiper-container {
    width: calc(100vw);
    margin-top: 10px !important;
  }
  .swiper-slide {
    width: 40vw !important;
  }
  .swiper-slide-container {
    height: 30vh;
    .container-title-item-swiper-home {
      p {
        font-size: 12px;
      }
    }
  }
}
