<div class="main-wrapper-products-table">
    <a class="card-product-donzelli flos lamps-lighting metal glass">
        <p class="small-text">Taccia Lamp by Flos <br>
            <span>Start at 899$</span>
        </p>
        <img src="../../public/products/flos/taccia-lamp/cover-feed-taccia-lamp-flos-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/flos/taccia-lamp/sub-cover-feed-taccia-flos-donzelli.webp" alt="">
    </a>
    <a href="[DIRECTORY_BASE_PATH]/products/ligneroset/togo-sofa/"
        class="card-product-donzelli ligneroset sofas-armchairs velvet leather fabric">
        <p class="small-text">Togo Sofa by Ligne Roset <br>
            <span>Start at 1299$</span>
        </p>
        <img src="../../public/products/ligneroset/togo-sofa/cover-feed-togo-sofa-flos-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/ligneroset/togo-sofa/togo-heading-ligneroset-donzelli.png" alt="">
    </a>
    <a class="card-product-donzelli cassina chairs wood">
        <p class="small-text">Capitol Complex Chair by Cassina <br>
            <span>Start at 1399$</span>
        </p>
        <img src="../../public/products/cassina/capitol-complex-chair/cover-feed-capitol-chair-pierre-jeanneret-cassina-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/cassina/capitol-complex-chair/sub-cover-feed-capitol-complex-chair-cassina-donzelli.jpg"
            alt="">
    </a>
    <a class="card-product-donzelli gubi sofas-armchairs fabric">
        <p class="small-text">Pacha Armchair by Gubi <br>
            <span>Start at 1999$</span>
        </p>
        <img src="../../public/products/gubi/pacha-armchair/cover-feed-pacha-armchair-gubi-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/gubi/pacha-armchair/subcover-feed-pacha-armchair-gubi-donzelli.jpg" alt="">
    </a>
    <a class="card-product-donzelli oluce lamps-lighting metal">
        <p class="small-text">Atollo Lamp by Oluce <br>
            <span>Start at 999$</span>
        </p>
        <img src="../../public/products/oluce/atollo-lamp/cover-feed-atollo-lamp-oluce-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/oluce/atollo-lamp/sub-cover-feed-atollo-oluce-donzelli.webp" alt="">
    </a>
    <a class="card-product-donzelli b&bitalia sofas-armchairs velvet fabric">
        <p class="small-text">Cameleonda Sofa by B&B Italia <br>
            <span>Start at 14 999$</span>
        </p>
        <img src="../../public/products/b&bitalia/cameleonda-sofa/cover-feed-cameleonda-sofa-b&bitalia-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/b&bitalia/cameleonda-sofa/subcover-feed-camelonda-sofa-b&bitalia-donzelli.png"
            alt="">
    </a>
    <a class="card-product-donzelli ethnicraft sofas-armchairs leather fabric">
        <p class="small-text">N701 Sofa by Ethnicraft <br>
            <span>Start at 2 309$</span>
        </p>
        <img src="../../public/products/ethnicraft/n701/cover-feed-n701-sofa-ethnicraft-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/ethnicraft/n701/subcover-feed-n701-sofa-ethnicraft-donzelli.jpg" alt="">
    </a>
    <a class="card-product-donzelli knoll sofas-armchairs leather wood">
        <p class="small-text">Barcelona Couch by Knoll <br>
            <span>Start at 14 999$</span>
        </p>
        <img src="../../public/products/knoll/barcelona-daybed-couch/cover-feed-barcelona-daybed-couch-knoll-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/knoll/barcelona-daybed-couch/subcover-feed-barcelona-daybed-couch-knoll-donzelli.jpg"
            alt="">
    </a>




</div>