@import "../../scss/variables";

.main-wrapper-products-table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //   border: 1px solid red;
}

.card-product-donzelli {
  width: calc(25% - 1.5px);
  height: 25vw;
  background-color: $donzelli1bis;
  margin-bottom: 1.5px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .hover-card-product-image {
    opacity: 0;
    z-index: 10;
    transition: 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    .hover-card-product-image {
      opacity: 1;
      transition: 0.3s ease;
    }
  }

  p {
    span {
      color: $donzelli4 !important;
    }
  }
}

.showincontextclass {
  cursor: pointer;
  .hover-card-product-image {
    opacity: 1;
    transition: 0.3s ease;
  }
}

@media (max-width: 800px) {
  .card-product-donzelli {
    width: calc(50vw - 1px);
    height: calc(50vw - 1px);
    padding: 5px 10px;
    p {
      font-size: 10px;
    }
  }
}
