<div class="main-wrapper-products-table">
    <a class="card-product-donzelli flos lamp wood">
        <p class="small-text">Taccia Lamp by Flos <br>
            <span>Start at 899$</span>
        </p>
        <img src="../../public/products/flos/taccia-lamp/cover-feed-taccia-lamp-flos-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/flos/taccia-lamp/sub-cover-feed-taccia-flos-donzelli.webp" alt="">
    </a>
    <a class="card-product-donzelli ligneroset chair metal">
        <p class="small-text">Togo Sofa by Ligne Roset <br>
            <span>Start at 1299$</span>
        </p>
        <img src="../../public/products/ligneroset/togo-sofa/cover-feed-togo-sofa-flos-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/ligneroset/togo-sofa/togo-heading-ligneroset-donzelli.png" alt="">
    </a>
    <a class="card-product-donzelli cassina chair wood">
        <p class="small-text">Capitol Complex Chair by Cassina <br>
            <span>Start at 1399$</span>
        </p>
        <img src="../../public/products/cassina/capitol-complex-chair/cover-feed-capitol-chair-pierre-jeanneret-cassina-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/cassina/capitol-complex-chair/sub-cover-feed-capitol-complex-chair-cassina-donzelli.jpg"
            alt="">
    </a>
    <a class="card-product-donzelli oluce lamp metal">
        <p class="small-text">Atollo Lamp by Oluce <br>
            <span>Start at 999$</span>
        </p>
        <img src="../../public/products/oluce/atollo-lamp/cover-feed-atollo-lamp-oluce-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/oluce/atollo-lamp/sub-cover-feed-atollo-oluce-donzelli.webp" alt="">
    </a>


</div>