<div class="main-wrapper-products-table">
    <!-- Taccia Lamp -->
    <a class="card-product-donzelli flos lamps-lighting metal glass">
        <p class="small-text">Taccia Lamp by Flos <br>
            <span>Start at 899$</span>
        </p>
        <img src="../../public/products/flos/taccia-lamp/cover-feed-taccia-lamp-flos-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/flos/taccia-lamp/sub-cover-feed-taccia-flos-donzelli.webp" alt="">
    </a>
    <!-- Togo Sofa -->
    <a href="[DIRECTORY_BASE_PATH]/products/ligneroset/togo-sofa/"
        class="card-product-donzelli ligneroset sofas-armchairs velvet leather fabric">
        <p class="small-text">Togo Sofa by Ligne Roset <br>
            <span>Start at 1299$</span>
        </p>
        <img src="../../public/products/ligneroset/togo-sofa/cover-feed-togo-sofa-flos-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/ligneroset/togo-sofa/togo-heading-ligneroset-donzelli.png" alt="">
    </a>
    <!-- Complex Capitol Pierre Jeanneret Chair -->
    <a class="card-product-donzelli cassina chairs wood">
        <p class="small-text">Capitol Complex Chair by Cassina <br>
            <span>Start at 1399$</span>
        </p>
        <img src="../../public/products/cassina/capitol-complex-chair/cover-feed-capitol-chair-pierre-jeanneret-cassina-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/cassina/capitol-complex-chair/sub-cover-feed-capitol-complex-chair-cassina-donzelli.jpg"
            alt="">
    </a>
    <!-- Pacha Gubi Armchair -->
    <a class="card-product-donzelli gubi sofas-armchairs fabric">
        <p class="small-text">Pacha Armchair by Gubi <br>
            <span>Start at 1999$</span>
        </p>
        <img src="../../public/products/gubi/pacha-armchair/cover-feed-pacha-armchair-gubi-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/gubi/pacha-armchair/subcover-feed-pacha-armchair-gubi-donzelli.jpg" alt="">
    </a>

    <!-- Atollo Lamp Oluce -->
    <a class="card-product-donzelli oluce lamps-lighting metal">
        <p class="small-text">Atollo Lamp by Oluce <br>
            <span>Start at 999$</span>
        </p>
        <img src="../../public/products/oluce/atollo-lamp/cover-feed-atollo-lamp-oluce-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/oluce/atollo-lamp/sub-cover-feed-atollo-oluce-donzelli.webp" alt="">
    </a>
    <!-- Cameleonda Sofa B&B Italia -->
    <a class="card-product-donzelli b&bitalia sofas-armchairs velvet fabric">
        <p class="small-text">Cameleonda Sofa by B&B Italia <br>
            <span>Start at 14 999$</span>
        </p>
        <img src="../../public/products/b&bitalia/cameleonda-sofa/cover-feed-cameleonda-sofa-b&bitalia-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/b&bitalia/cameleonda-sofa/subcover-feed-camelonda-sofa-b&bitalia-donzelli.png"
            alt="">
    </a>
    <!-- N701 Sofa Ethnicraft -->
    <a class="card-product-donzelli ethnicraft sofas-armchairs leather fabric">
        <p class="small-text">N701 Sofa by Ethnicraft <br>
            <span>Start at 2 309$</span>
        </p>
        <img src="../../public/products/ethnicraft/n701/cover-feed-n701-sofa-ethnicraft-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/ethnicraft/n701/subcover-feed-n701-sofa-ethnicraft-donzelli.jpg" alt="">
    </a>
    <!--Barcelona Daybed Couch Knoll Sofa -->
    <a class="card-product-donzelli knoll sofas-armchairs chairs leather wood">
        <p class="small-text">Barcelona Couch by Knoll <br>
            <span>Start at 14 999$</span>
        </p>
        <img src="../../public/products/knoll/barcelona-daybed-couch/cover-feed-barcelona-daybed-couch-knoll-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/knoll/barcelona-daybed-couch/subcover-feed-barcelona-daybed-couch-knoll-donzelli.jpg"
            alt="">
    </a>
    <!--Barcelona Daybed Couch Knoll Sofa -->
    <a class="card-product-donzelli knoll sofas-armchairs chairs leather metal">
        <p class="small-text">Barcelona Chair by Knoll <br>
            <span>Start at 7 999$</span>
        </p>
        <img src="../../public/products/knoll/barcelona-chair/cover-feed-barcelona-chair-knoll-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/knoll/barcelona-chair/subcover-feed-barcelona-chair-knoll-donzelli.jpg" alt="">
    </a>
    <!--Diamond Chair Knoll Sofa -->
    <a class="card-product-donzelli knoll sofas-armchairs chairs leather metal">
        <p class="small-text">Diamond Chair by Knoll <br>
            <span>Start at 1 799$</span>
        </p>
        <img src="../../public/products/knoll/diamond-chair-bertoia/cover-feed-diamond-chair-knoll-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/knoll/diamond-chair-bertoia/subcover-feed-diamond-chair-knoll-donzelli.jpg"
            alt="">
    </a>
    <!-- Pouf Original Fatboy -->
    <a class="card-product-donzelli fatboy sofas-armchairs chairs velvet fabric nylon coton">
        <p class="small-text">Original Pouf by Fatboy <br>
            <span>Start at 199$</span>
        </p>
        <img src="../../public/products/fatboy/original-pouf/cover-feed-pouf-fatboy-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/fatboy/original-pouf/subcover-feed-pouf-original-fatboy-donzelli.jpg" alt="">
    </a>
    <!-- CH24 Carl Hansen -->
    <a class="card-product-donzelli carlhansen chairs wood">
        <p class="small-text">CH24 by Carl Hansen <br>
            <span>Start at 549$</span>
        </p>
        <img src="../../public/products/carlhansen/ch24-chair/cover-feed-ch24-chair-carlhansen-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/carlhansen/ch24-chair/subcover-feed-ch24-chair-carlhansen-donzelli.jpg" alt="">
    </a>
    <!-- Aeron Chair Herman Miller -->
    <a class="card-product-donzelli hermanmiller chairs plastic fabric">
        <p class="small-text">Aeron by Herman Miller <br>
            <span>Start at 1499$</span>
        </p>
        <img src="../../public/products/hermanmiller/aeron-chair/cover-feed-aeron-chair-hermanmiller-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/hermanmiller/aeron-chair/subcover-feed-aeron-chair-hermanmiller-donzelli.png"
            alt="">
    </a>
    <!-- Sayl Chair Herman Miller -->
    <a class="card-product-donzelli hermanmiller chairs plastic fabric">
        <p class="small-text">Sayl by Herman Miller <br>
            <span>Start at 699$</span>
        </p>
        <img src="../../public/products/hermanmiller/sayl-chair/cover-feed-sayl-chair-hermanmiller-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/hermanmiller/sayl-chair/subcover-feed-sayl-chair-hermanmiller-donzelli.webp"
            alt="">
    </a>
    <!-- Eames Lounge Chair Vitra -->
    <a class="card-product-donzelli vitra chairs leather velvet wood">
        <p class="small-text">Eames Lounge Chair by Vitra<br>
            <span>Start at 7999$</span>
        </p>
        <img src="../../public/products/vitra/lounge-chair-eames/cover-feed-lounge-chair-eames-vitra-donzelli.png"
            alt="">
        <img class="hover-card-product-image"
            src="../../public/products/vitra/lounge-chair-eames/subcover-feed-lounge-chair-eames-vitra-donzelli.jpg"
            alt="">
    </a>
    <!-- Butterfly Stool Vitra -->
    <a class="card-product-donzelli vitra chairs wood">
        <p class="small-text">Butterfly Stool by Vitra<br>
            <span>Start at 799$</span>
        </p>
        <img src="../../public/products/vitra/butterfly-stool/cover-feed-butterfly-stool-vitra-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/vitra/butterfly-stool/subcover-feed-butterfly-stool-vitra-donzelli.jpg.webp"
            alt="">
    </a>
    <!-- Nelson Bench Vitra -->
    <a class="card-product-donzelli vitra chairs tables wood">
        <p class="small-text">Nelson Bench by Vitra<br>
            <span>Start at 809$</span>
        </p>
        <img src="../../public/products/vitra/nelson-bench/cover-feed-nelson-bench-vitra-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/vitra/nelson-bench/subcover-feed-nelson-bench-vitra-donzelli.jpg" alt="">
    </a>
    <!-- Bloon Pouf Paris -->
    <a class="card-product-donzelli vitra chairs tables wood">
        <p class="small-text">Pouf by Bloon Paris<br>
            <span>Start at 199$</span>
        </p>
        <img src="../../public/products/bloonparis/pouf-round/cover-feed-bloon-paris-pouf-donzelli.png" alt="">
        <img class="hover-card-product-image"
            src="../../public/products/bloonparis/pouf-round/subcover-feed-bloon-paris-pouf-donzelli.jpeg" alt="">
    </a>




</div>