<footer>
    <div class="line-top-header"></div>
    <div class="heading-header">
        <img src="../../public/media/svg-assets/logo-donzelli-white.svg" alt="">
        <p class="subtitle">Elevate your space <br>
            with exceptional furniture</p>
    </div>

    <div class="container-links-footer">
        <div class="group-columns-footer">
            <div class="column-footer-links">
                <p class="title-footer-list thirdtitle">Infos</p>
                <div class="list-link-column nav-item-typo">
                    <a href="">About</a>
                    <a href="">Vision</a>
                    <a href="">Engagements</a>
                    <a href="">Verified Program</a>
                    <a href="">Project & Features</a>
                    <a href="">Press</a>
                    <a href="">Careers</a>
                    <a href="">Contact</a>
                </div>
            </div>
            <div class="column-footer-links">
                <p class="title-footer-list thirdtitle">Studio Pro</p>
                <div class="list-link-column nav-item-typo">
                    <a href="">What is / For who</a>
                    <a href="">Offers</a>
                    <a href="">Engagements</a>
                    <a href="">Contact for Professionals</a>

                </div>
            </div>
        </div>
        <div class="group-columns-footer">
            <div class="column-footer-links">
                <p class="title-footer-list thirdtitle">Ressources</p>
                <div class="list-link-column nav-item-typo">
                    <a href="">Guide</a>
                    <a href="">Feed</a>
                    <a href="">Spaces</a>
                    <a href="">Collections</a>
                    <a href="">Type of Items</a>
                    <a href="">Brands & Studios</a>
                    <a href="">Creators</a>


                </div>
            </div>
            <div class="column-footer-links">
                <p class="title-footer-list thirdtitle">Magazine</p>
                <div class="list-link-column nav-item-typo">
                    <a href="">Article 1</a>
                    <a href="">Article 2</a>
                    <a href="">Article 3</a>
                    <a href="">Article 4</a>

                </div>
            </div>
        </div>
    </div>

    <div class="extra-links-footer">
        <p class="nav-item-typo">
            Donzelli® <br>
            <span>
                An UTOPIA Project™ Company
            </span>
        </p>
        <a class="nav-item-typo" href="">Privacy</a>
    </div>
</footer>