@import "../../scss/black-theme";
// @import "../../scss/variables";

.heading-studiopro {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  align-items: flex-start;
  .logo-inline-donzelli-studiopro {
    height: 15vh;
  }
}

.intro-studio-pro {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 85%;

  span {
    padding: 0px 12px;
    border: 2px solid $donzelli3;
    background-color: $donzelli3;
    color: $donzelli1;
    border-radius: 999px;
    display: inline-block;
    width: fit-content;
    transition: 0.3s ease;

    img {
      width: 36px;
      mix-blend-mode: difference;
      position: relative;
      top: -5px;
    }
  }
}

.intro-subtitle-studio-pro {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
}

.heading-img-studiopro {
  width: 100%;
  height: 80vh;
  //   border: 1px solid red;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .background-heading-studiopro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .logo-studiopro-heading {
    height: 80px;
    position: relative;
    z-index: 10;
  }
}

.intro-vision-studiopro {
  margin-top: 10px;
  // width: 90%;
}

@media (max-width: 800px) {
  .heading-studiopro {
    margin-top: 8vh;
    .logo-inline-donzelli-studiopro {
      height: 7vh;
    }
  }
  .intro-studio-pro {
    width: 100%;
    span {
      padding: 2px 8px;
      position: relative;
      left: -2px;
      img {
        width: 20px;
        top: -2px;
      }
    }
  }

  .intro-subtitle-studio-pro {
    width: 100%;
    margin-top: 0px;
  }

  .intro-vision-studiopro {
    margin-top: 10px;
  }

  .heading-img-studiopro {
    height: 60vh;
  }
}

.container-icon-studiopro {
  display: flex;
  width: calc(100% - ((8.33vw * 2) - 2px));
  margin-left: calc((8.33vw * 1) - 2px);
  margin-top: 10vh;
  justify-content: space-between;
  align-items: flex-start;

  img {
    width: 14%;
  }
}

.cadregris {
  width: 100%;
  height: 80vh;
  background-color: $donzelli1bis;
  border-radius: 5px;
  margin-top: 15vh;
}

.container-titles-accordion-studiopro {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  // padding-left: calc((8.33vw * 2) - 2px);

  p {
    color: $donzelli4;
  }
}

.line-accordion {
  margin-top: 30px;
  // margin-bottom: 10vh;
}

.accordion-studiopro-advantages {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // margin-top: 10vh;
  padding-left: calc((8.33vw * 2) - 2px);
  width: 100%;
}

@media (max-width: 800px) {
  .accordion-studiopro-advantages {
    flex-direction: column;
    padding-left: 0;
  }
}

.accordion-panel-studiopro {
  display: flex;
  flex-direction: column;

  width: 50%;
}

@media (max-width: 800px) {
  .accordion-panel-studiopro {
    width: 100%;
  }
}

.accordion-studiopro {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $donzelli2;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .accordion-studiopro {
    margin-top: 20px;
  }
}

.container-title-accordion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $donzelli4;
  transition: 0.3s ease;

  p {
    line-height: 100%;
  }
  img {
    width: 20px;
    // mix-blend-mode: difference;
    position: absolute;
    right: 0;
  }
}

@media (max-width: 800px) {
  .container-title-accordion-item {
    color: $donzelli3;
  }
}

.item-accordion {
  border-top: 1px solid $donzelli2;
  padding: 21px 0px;
  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    .container-title-accordion-item {
      color: $donzelli3 !important;
    }
  }
}

.item-accordion1 {
  border-top: 0px solid $donzelli2;
}

.plus-accordion-studiopro {
  display: block;
}

.off-plus {
  display: none;
}
.moins-accordion-studiopro {
  display: none;
}
.active-moins {
  display: block;
}

.color-item-studio-pro {
  color: $donzelli3;
  transition: 0.3s ease;
}
.container-content-accordion-studiopro {
  padding-bottom: 0px;
  width: 70%;
  max-width: 320px;
  margin-top: 0px;
  height: fit-content;
  opacity: 0;
  position: absolute;
  left: -0vh;

  transition: 0s ease;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.container-img-accordion-studiopro-mobile {
  display: none;
}

@media (max-width: 800px) {
  .container-img-accordion-studiopro-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 20px);
    height: calc(35vh);
    position: relative;
    overflow: hidden;
    // background-color: $donzelli1bis;
    border: 1px solid $donzelli2bis;
    border-radius: 5px;
    margin-top: 50px;
    img {
      // width: 100%;
      height: 120%;
      // object-fit: cover;
    }
  }
}

.accordiondropstudiopro {
  padding-bottom: 40px;
  margin-top: 15px;
  position: relative;
  left: 0vh;
  opacity: 1;
  transition: 0.3s ease;
  // p {
  //   margin-left: 20%;
  // }
}

@media (max-width: 800px) {
  .accordiondropstudiopro {
    padding-bottom: 10px;
  }
}

.container-imgs-accordion-studiopro {
  height: 60vh;
  width: 35vw;
  position: relative;
  margin-right: 4vw;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: fit-content;
  // top: 8vh;
  // background-color: $donzelli1bis;
  border-radius: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: 0.3s ease;
  }
}

@media (max-width: 800px) {
  .container-imgs-accordion-studiopro {
    display: none;
  }
}

.active-img-accordion {
  z-index: 30 !important;
  opacity: 1 !important;
  transition: 0.3s ease !important;
}

.offers-studiopro-triptyque {
  width: 100%;
  //   border: 1px solid red;
  margin-top: 10vh;
  position: relative;
  // .heavytitle {
  //   margin-left: calc((8.33vw * 2) - 2px);
  // }

  .intro-subtitle-studio-pro {
    position: absolute;
    left: calc((8.33vw * 8) - 18px);
    top: 0;
    max-width: 20%;
  }

  .line-flux {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.triptyque-container {
  // width: calc(100% - ((8.33vw * 2) - 2px));
  width: 100%;
  //   border: 1px solid red;
  display: flex;
  justify-content: space-between;
  // margin-left: calc((8.33vw * 2) - 2px);
  margin-top: 0px;
  background-color: $donzelli1bis;
  padding: 80px;
  padding-bottom: 160px;
  border-radius: 5px;
  position: relative;

  .cta-contact-wheretostart {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
      width: 10px;
      margin-left: 10px;
    }
  }
}

.card-offer-studiopro {
  background-color: $donzelli1bisbis;
  // color: $donzelli1;
  width: calc(33% - 5px);
  height: 100%;
  border-radius: 5px;
  padding: 23px 25px;
  padding-bottom: 40px;

  .people-categorie {
    width: 100%;
    color: $donzelli4;
    margin-top: 5px;
    height: 40px;
    // border: 1px solid red;
  }

  .global-benefits-main-container {
    margin-top: 20px;
    height: 90px;
  }

  .mainbenefitscontainers {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    img {
      width: 13px;
      margin-right: 10px;
      mix-blend-mode: difference;
    }
  }

  .maintitle {
    position: relative;
    left: -5px;
  }

  .button-type-3,
  .button-type-1 {
    margin-top: 20px;
    margin-bottom: 50px;

    img {
      width: 15px;
      margin-left: 10px;
    }
    &:hover {
      background-color: transparent;
    }
  }

  .container-benefits-list-offers-studiopro {
    display: flex;
    flex-direction: column;
  }

  .benefit-line-container {
    p {
      height: 23px;
    }
    .line-benefit {
      width: 100%;
      height: 1px;
      background-color: $donzelli2bis;
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 1;
    }
  }
}

.thirdoffer {
  background-color: $donzelli3;
  color: $donzelli1;
  .people-categorie {
    color: $donzelli2bis;
  }
  .benefit-line-container {
    .line-benefit {
      background-color: $donzelli5;
    }
  }
}

.firstoffer {
  background-color: $donzelli1bis;
  border: 1px solid $donzelli2bis;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .firstoffer {
    border: 0px solid $donzelli2bis;
  }
  .secondoffer {
    background-color: $donzelli1bisbis;
  }
}

@media (max-width: 800px) {
  .offers-studiopro-triptyque {
    .heavytitle {
      margin-left: 0;
    }
    .intro-subtitle-studio-pro {
      position: relative;
      left: 0;
      max-width: 100%;
      margin-top: 15px;
    }

    .line-flux {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }
  .triptyque-container {
    margin-top: 0px;
    margin-left: 0;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    padding-bottom: 0;
    background-color: $donzelli1;
    padding-bottom: 160px;
  }

  .card-offer-studiopro {
    width: 100%;
    margin-bottom: 10px;
    // background-color: $donzelli1bis;
    .button-type-3,
    .button-type-1 {
      margin-bottom: 30px;
    }
  }
}

.infos-company-studiopro-container {
  width: 100%;
  border-radius: 5px;
  // background-color: $donzelli1bis;
  // border: 1px solid $donzelli2bis;
  // color: $donzelli1;
  display: flex;
  padding: 10vh 0px 45vh;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  flex-direction: column;

  .back-why-studiopro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: -10vh;
    left: 0;
    transform: rotate(180deg);
    // filter: saturate(0);
    opacity: 0;
  }
}

.image-why-company-studiopro {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-top: 40vh;
  display: none;
}

@media (max-width: 800px) {
  .infos-company-studiopro-container {
    padding: 5vh 25px 10vh;
    flex-direction: column;
    // background-color: $donzelli1bisbis;
    // color: $donzelli1;
    border: 1px solid $donzelli2bis;
    margin-top: 40px;
  }
}

.container-titles-infos-company-studiopro {
  display: flex;
  flex-direction: column;
  padding-left: calc((8.33vw * 2) - 2px);
  position: relative;
  span {
    color: $donzelli4;
  }
}

@media (max-width: 800px) {
  .container-titles-infos-company-studiopro {
    padding-left: 0;
    span {
      // color: $donzelli2bis;
      margin-bottom: 5px;
    }
  }
}

.container-advantages-studiopro-why {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc((8.33vw * 8) - 18px);
  top: 10vh;
  z-index: 10;
}

@media (max-width: 800px) {
  .container-advantages-studiopro-why {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 50px;
    padding-left: 0;
  }
}

.group-advantages-why-studiopro {
  p {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 70%;
  }
}

@media (max-width: 800px) {
  .group-advantages-why-studiopro {
    p {
      max-width: 90%;
    }
  }
}

.second-bigtext-after-offers-studiopro {
  margin-top: 20vh;
}

@media (max-width: 800px) {
  .second-bigtext-after-offers-studiopro {
    margin-top: 10vh;
  }
}

.link-cta-contact-studiopro {
  display: flex;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 10vh;
  width: 100%;

  img {
    height: 8vh;
    margin-left: 50px;
    transition: 0.3s ease;
  }
  a {
    text-underline-offset: 10px;
    transition: 0.3s ease;
    transition: 0.3s ease;
    cursor: pointer;
  }
  &:hover {
    img {
      transform: rotate(45deg);
      transition: 0.3s ease;
    }
    a {
      color: $donzelli2bis;
      transition: 0.3s ease;
      // text-decoration: none;
    }
  }
}

@media (max-width: 800px) {
  .link-cta-contact-studiopro {
    a {
      font-size: 34px;
      img {
        height: 25px;
        margin-left: 20px;
      }
    }
  }
}
