@import "../../scss/black-theme";

.heading-studiopro {
  display: flex;
  flex-direction: column;
}

.intro-studio-pro {
  margin-top: 15vh;
  margin-bottom: 20px;
  width: 85%;

  span {
    padding: 0px 12px;
    border: 2px solid $donzelli3;
    background-color: $donzelli3;
    color: $donzelli1;
    border-radius: 999px;
    display: inline-block;
    width: fit-content;
    transition: 0.3s ease;

    img {
      width: 36px;
      mix-blend-mode: difference;
      position: relative;
      top: -5px;
    }
  }
}

.intro-subtitle-studio-pro {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
}

.heading-img-studiopro {
  width: 100%;
  height: 80vh;
  //   border: 1px solid red;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .background-heading-studiopro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .logo-studiopro-heading {
    height: 80px;
    position: relative;
    z-index: 10;
  }
}

.intro-vision-studiopro {
  margin-top: 10px;
  // width: 90%;
}

@media (max-width: 800px) {
  .intro-studio-pro {
    margin-top: 5vh;
    width: 100%;
    span {
      padding: 2px 8px;
      position: relative;
      left: -2px;
      img {
        width: 20px;
        top: -2px;
      }
    }
  }

  .intro-subtitle-studio-pro {
    width: 100%;
    margin-top: 0px;
  }

  .intro-vision-studiopro {
    margin-top: 10px;
  }
}

.container-icon-studiopro {
  display: flex;
  width: calc(100% - ((8.33vw * 2) - 2px));
  margin-left: calc((8.33vw * 1) - 2px);
  margin-top: 10vh;
  justify-content: space-between;
  align-items: flex-start;

  img {
    width: 14%;
  }
}

.cadregris {
  width: 100%;
  height: 80vh;
  background-color: $donzelli1bis;
  border-radius: 5px;
  margin-top: 15vh;
}

.container-titles-accordion-studiopro {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  // padding-left: calc((8.33vw * 2) - 2px);

  p {
    color: $donzelli4;
  }
}

.line-accordion {
  margin-top: 30px;
  // margin-bottom: 10vh;
}

.accordion-studiopro-advantages {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // margin-top: 10vh;
  padding-left: calc((8.33vw * 2) - 2px);
  width: 100%;
}

.accordion-panel-studiopro {
  display: flex;
  flex-direction: column;

  width: 45%;
}

.accordion-studiopro {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $donzelli2;
  justify-content: space-between;
}

.item-accordion {
  border-top: 1px solid $donzelli2;
  padding: 22px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.item-accordion1 {
  border-top: 0px solid $donzelli2;
}

.container-title-accordion-item {
  display: flex;
  justify-content: space-between;
  color: $donzelli4;
  transition: 0.3s ease;
  p {
    line-height: 100%;
  }
  img {
    width: 20px;
    // mix-blend-mode: difference;
    position: absolute;
    right: 0;
  }
}

.plus-accordion-studiopro {
  display: block;
}

.off-plus {
  display: none;
}
.moins-accordion-studiopro {
  display: none;
}
.active-moins {
  display: block;
}

.color-item-studio-pro {
  color: $donzelli3;
  transition: 0.3s ease;
}
.container-content-accordion-studiopro {
  padding-bottom: 0px;
  width: 70%;
  margin-top: 0px;
  height: fit-content;
  opacity: 0;
  position: absolute;
  left: -5vh;

  transition: 0s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordiondropstudiopro {
  padding-bottom: 30px;
  margin-top: 15px;

  position: relative;
  left: 0vh;
  opacity: 1;
  transition: 0.3s ease;
}

.container-imgs-accordion-studiopro {
  height: 60vh;
  width: 35vw;
  position: relative;
  margin-right: 4vw;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: fit-content;
  // top: 8vh;
  // background-color: $donzelli1bis;
  border-radius: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: 0.3s ease;
  }
}

.active-img-accordion {
  z-index: 30 !important;
  opacity: 1 !important;
  transition: 0.3s ease !important;
}

.offers-studiopro-triptyque {
  width: 100%;
  //   border: 1px solid red;
  margin-top: 10vh;
  position: relative;
  // .heavytitle {
  //   margin-left: calc((8.33vw * 2) - 2px);
  // }

  .intro-subtitle-studio-pro {
    position: absolute;
    left: calc((8.33vw * 8) - 18px);
    top: 0;
    max-width: 20%;
  }

  .line-flux {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.triptyque-container {
  // width: calc(100% - ((8.33vw * 2) - 2px));
  width: 100%;
  //   border: 1px solid red;
  display: flex;
  justify-content: space-between;
  // margin-left: calc((8.33vw * 2) - 2px);
  margin-top: 0px;
  background-color: $donzelli1bis;
  padding: 80px;
  padding-bottom: 160px;
  border-radius: 5px;
  position: relative;

  .cta-contact-wheretostart {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
      width: 10px;
      margin-left: 10px;
    }
  }
}

.card-offer-studiopro {
  background-color: $donzelli1bisbis;
  // color: $donzelli1;
  width: calc(33% - 5px);
  height: 100%;
  border-radius: 5px;
  padding: 23px 25px;
  padding-bottom: 40px;

  .people-categorie {
    width: 100%;
    color: $donzelli4;
    margin-top: 5px;
    height: 40px;
    // border: 1px solid red;
  }

  .global-benefits-main-container {
    margin-top: 20px;
  }

  .mainbenefitscontainers {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    img {
      width: 13px;
      margin-right: 10px;
      mix-blend-mode: difference;
    }
  }

  .maintitle {
    position: relative;
    left: -5px;
  }

  .button-type-3,
  .button-type-1 {
    margin-top: 20px;
    margin-bottom: 50px;
    &:hover {
      background-color: transparent;
    }
  }

  .container-benefits-list-offers-studiopro {
    display: flex;
    flex-direction: column;
  }

  .benefit-line-container {
    p {
      height: 20px;
    }
    .line-benefit {
      width: 100%;
      height: 1px;
      background-color: $donzelli2bis;
      margin-top: 10px;
      margin-bottom: 10px;
      opacity: 1;
    }
  }
}

.thirdoffer {
  background-color: $donzelli3;
  color: $donzelli1;
  .people-categorie {
    color: $donzelli2bis;
  }
  .benefit-line-container {
    .line-benefit {
      background-color: $donzelli5;
    }
  }
}

@media (max-width: 800px) {
  .offers-studiopro-triptyque {
    .heavytitle {
      margin-left: 0;
    }
    .intro-subtitle-studio-pro {
      position: relative;
      left: 0;
      max-width: 100%;
      margin-top: 15px;
    }

    .line-flux {
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }
  .triptyque-container {
    margin-top: 0px;
    margin-left: 0;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    padding-bottom: 0;
    background-color: $donzelli1;
    padding-bottom: 160px;
  }

  .card-offer-studiopro {
    width: 100%;
    margin-bottom: 10px;
    // background-color: $donzelli1bis;
    .button-type-3,
    .button-type-1 {
      margin-bottom: 30px;
    }
  }
}

.items-container-home {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;

  .line-flux {
    margin-top: 40px;
  }
}

.container-title-items {
  display: flex;
  position: relative;
  //   .title-items {
  //     padding-left: calc((8.33vw * 2) - 2px);
  //   }
  .description-items-home {
    position: absolute;
    left: calc((8.33vw * 8) - 18px);
    // border: 1px solid red;

    .button-type-1 {
      margin-top: 15px;
    }
  }
}

@media (max-width: 800px) {
  .items-container-home {
    margin-top: 10vh;
    .line-flux {
      margin-top: 40px;
    }
  }
  .container-title-items {
    flex-direction: column;
    // padding-left: 20%;
    .title-items {
      position: relative;
      left: -5px;
      padding-left: 0;
    }

    .description-items-home {
      position: relative;
      left: 0;
      margin-top: 10px !important;
      padding-left: 20%;
    }
  }
}

.swiper-container {
  width: 100vw;
  margin-left: -10px !important;
  //   border: 1px solid red;
  margin-top: 15px !important;
}

.swiper-slide {
  width: 20vw !important;
  box-sizing: border-box;
  margin-left: 10px;
}

.last-slide {
  margin-right: 10px;
}

.swiper-slide-container {
  background: $donzelli1bis;
  border-radius: 5px;
  height: 40vh;
  width: 100%;
  margin: auto;
  display: flex;
  position: relative;
  .arrow {
    mix-blend-mode: difference;
    transform: rotate(45deg);
    transition: 0.3s ease;
    width: 10px;
  }

  &:hover {
    .arrow {
      transform: rotate(0);
      transition: 0.3s ease;
    }
  }

  .container-title-item-swiper-home {
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 12px 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .icon-img-items-swiper-home {
    position: absolute;
    top: 13%;
    left: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .swiper-container {
    width: calc(100vw);
    margin-top: 10px !important;
  }
  .swiper-slide {
    width: 40vw !important;
  }
  .swiper-slide-container {
    height: 30vh;
    .container-title-item-swiper-home {
      p {
        font-size: 12px;
      }
    }
  }
}
