<div class="sidebar-desk">
    <div class="close-sidebar-desk nav-item-typo">
        Fermer
    </div>
    <div class="container-items-sidebar-desk">
        <p class="indiction-menu-sidebar-desk nav-item-typo">Menu</p>
        <div class="list-menu-sidebar-desk">
            <a class="sidebar-item-desk" href="">About us</a>
            <a class="sidebar-item-desk" href="">Vision</a>
            <a class="sidebar-item-desk" href="">Project & Features</a>
            <a class="sidebar-item-desk verified-sidebar-desk" href="">
                <img src="../../public/media/svg-assets/verified-icon-white.svg" alt="">
                Verified Program</a>
            <a class="sidebar-item-desk studiopro-item-sidebar-desk" href="">Studio Pro <img
                    src="../../public/media/svg-assets/arrow-white.svg" alt=""></a>

            <a class="sidebar-item-desk" href="">Engagements</a>
            <a class="sidebar-item-desk" href="">Magazine</a>
            <a class="sidebar-item-desk" href="">Contact</a>
            <a class="sidebar-item-desk" href="">Press</a>
            <a class="sidebar-item-desk" href="">Careers</a>
        </div>
    </div>
</div>

<div class="back-invisible-sidebar">

</div>