<div class="sidebar-mobile">
    <div class="main-container-sidebar-mobile">
        <div class="main-nav-sidebar-mobile">
            <p class="nav-item-typo">Discover</p>
            <div class="container-items-nav-mobile-sidebar">
                <a class="sidebar-item-mobile" href="">Feed <div class="new-tick nav-item-typo">New <div
                            class="redpoint"></div>
                    </div> </a>
                <a class="sidebar-item-mobile" href="">Spaces</a>
                <a class="sidebar-item-mobile" href="">Collections</a>
                <div class="sidebar-item-mobile buttonpanelmobile1">Type of Items <img
                        src="../../public/media/svg-assets/plus-icon.svg" alt=""></div>
                <div class="sidebar-item-mobile buttonpanelmobile2">Brands
                    <img src="../../public/media/svg-assets/plus-icon.svg" alt="">
                </div>
                <div class="sidebar-item-mobile buttonpanelmobile3">Creators
                    <img src="../../public/media/svg-assets/plus-icon.svg" alt="">
                </div>

            </div>
        </div>
        <div class="studiopro-sidebar-mobile">
            <a href="">
                <div class="sidebar-item-mobile ">Studio Pro
                    <img src="../../public/media/svg-assets/arrow-white.svg" alt="">
                </div>
                <p class="nav-item-typo">Design, Management & Consulting Services</p>
            </a>
        </div>
        <div class="secondary-nav-sidebar-mobile">
            <div class="list-secondary-nav-sidebar-mobile">
                <a class="nav-item-typo" href="">Guide</a>
                <a class="nav-item-typo" href="">Magazine</a>
                <a class="nav-item-typo verified-sidebar" href="">
                    <img src="../../public/media/svg-assets/verified-icon-white.svg" alt="">
                    Verified Program</a>

            </div>
            <div class="list-secondary-nav-sidebar-mobile">
                <a class="nav-item-typo" href="">About Us / Vision</a>
                <a class="nav-item-typo grey" href="">Project & Features</a>
                <a class="nav-item-typo grey" href="">Engagements</a>
                <a class="nav-item-typo" href="[DIRECTORY_BASE_PATH]/contact/">Contact</a>
                <a class="nav-item-typo grey" href="">Press</a>
                <a class="nav-item-typo grey" href="">Careers</a>

            </div>
        </div>
    </div>
    <div class="items-sidebar-submenu-mobile panelmobile1 panelmobilesub">
        <div class="back nav-item-typo"> <img src="../../public/media/svg-assets/arrow-back.svg" alt=""> Back</div>
        <p class="sidebar-item-mobile">Type of Items</p>
        <div class="container-items-dropdown">
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Sofas & Armchairs</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Sofas & Armchairs</a>
                    <a href="">Sofas</a>
                    <a href="">Armchairs</a>
                    <a href="">Corner sofas</a>
                    <a href="">Modular sofas</a>
                    <a href="">Convertible sofas</a>
                    <a href="">Chaise longues / Méridiennes</a>
                    <a href="">Daybeds</a>
                    <a href="">Poufs & Ottomans</a>
                </div>
            </div>
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Chairs</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Chairs</a>
                    <a href="">Armchairs</a>
                    <a href="">Sidechairs</a>
                    <a href="">Dining Chairs</a>
                    <a href="">Desk Chairs</a>
                    <a href="">Lounge Chairs</a>
                    <a href="">Stools</a>
                    <a href="">Benches</a>
                    <a href="">Daybeds</a>
                    <a href="">Poufs & Ottomans</a>
                </div>
            </div>
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Tables</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Tables</a>
                    <a href="">Big Tables</a>
                    <a href="">Dining Tables</a>
                    <a href="">Desks</a>
                    <a href="">Lowtables</a>
                    <a href="">Side & End Tables</a>
                    <a href="">Console & sideboard</a>
                </div>
            </div>
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Furniture & Storage</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Furniture & Storage</a>
                    <a href="">Wardrobes, Shelves & Drawers</a>
                    <a href="">Buffets & Consoles</a>
                    <a href="">Libraries</a>
                    <a href="">Office Storage</a>
                    <a href="">TV Furniture</a>
                    <a href="">Dressing and closets</a>
                    <a href="">Beds and accessories</a>
                </div>
            </div>
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Lamps & Lightning</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Lights and Lightning</a>
                    <a href="">Table Lamps</a>
                    <a href="">Floor Lamps</a>
                    <a href="">Suspended Lamps</a>
                    <a href="">Wall & Ceiling Lamps</a>
                    <a href="">Portable Lamps</a>
                    <a href="">Outdoor Lamps</a>
                </div>
            </div>
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Objects & Accessories</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Objects & Accessories</a>
                    <a href="">Office Accessories</a>
                    <a href="">Kitchen & Vaiselle</a>
                    <a href="">Living room, Cushion, Plaid</a>
                    <a href="">Rugs</a>
                    <a href="">Vases & Trays</a>
                    <a href="">Candles</a>
                    <a href="">Books</a>
                    <a href="">Folding Screens</a>
                    <a href="">Mirrors</a>
                    <a href="">Luggage, Bags, & Chests</a>
                </div>
            </div>
            <!-- <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile ">Art & Frames</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Art &
                        Paintings</a>
                    <a href="">Art Paintings</a>
                    <a href="">Scultures</a>
                    <a href="">Iconic Pieces</a>
                    <a href="">Statues</a>
                </div>
            </div> -->
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Technology</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Technology</a>
                    <a href="">Electrical Goods, Fridges, Caves</a>
                    <a href="">Speakers, Vinyl, Hi-Fi</a>
                    <a href="">Connected Objects and Lighting</a>
                    <a href="">TV Accessories</a>
                    <a href="">Domestic Accessories</a>
                </div>
            </div>
            <div class="item-dropdown">
                <div class="title-item-drop">
                    <p class="second-sidebar-item-mobile">Outdoor</p>
                    <div class="container-button-dropdown">
                        <div class="dropdown-plus"><img src="../../public/media/svg-assets/plus-icon-grey.svg" alt="">
                        </div>
                        <div class="dropdown-moins">
                            <img src="../../public/media/svg-assets/moins-icon-grey.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="container-dropdown-content nav-item-typo">
                    <a class="first-all-button" href="">All Outdoor</a>
                    <a href="">Tables & Chairs</a>
                    <a href="">Garden furniture</a>
                    <a href="">Lighting</a>
                    <a href="">Accessories</a>
                    <a href="">Loungers & Hammocks</a>
                    <a href="">Barbecues and plancha</a>
                </div>
            </div>
        </div>
        <div class="rooms-container-sidebar-menu-items">
            <p class="sidebar-item-mobile">Rooms</p>
            <div class="container-rooms-sidebar-mobile">
                <div class="room-container-mobile">
                    <p class="second-sidebar-item-mobile">Office</p>
                    <div class="column-list-room-mobile nav-item-typo">
                        <a class="nav-item-typo" href="">Desks</a>
                        <a class="nav-item-typo" href="">Seating</a>
                        <a class="nav-item-typo" href="">Lights</a>
                        <a class="nav-item-typo" href="">Storage</a>
                        <a class="nav-item-typo" href="">Sofas</a>
                        <a class="nav-item-typo" href="">Tables</a>
                        <a class="nav-item-typo" href="">Pro Furniture</a>
                    </div>
                </div>
                <div class="room-container-mobile">
                    <p class="second-sidebar-item-mobile">Bedroom</p>
                    <div class="column-list-room-mobile nav-item-typo">
                        <a class="nav-item-typo" href="">Desks</a>
                        <a class="nav-item-typo" href="">Seating</a>
                        <a class="nav-item-typo" href="">Lights</a>
                        <a class="nav-item-typo" href="">Storage</a>
                        <a class="nav-item-typo" href="">Sofas</a>
                        <a class="nav-item-typo" href="">Tables</a>
                        <a class="nav-item-typo" href="">Pro Furniture</a>
                    </div>
                </div>

            </div>
            <a href="" class="view-more-rooms-link nav-item-typo">
                View more Rooms <img src="../../public/media/svg-assets/arrow-white.svg" alt="">
            </a>
        </div>
    </div>
    <div class="brands-sidebar-submenu-mobile panelmobile2 panelmobilesub">
        <div class="back nav-item-typo"> <img src="../../public/media/svg-assets/arrow-back.svg" alt=""> Back</div>
        <p class="sidebar-item-mobile">Selected Brands</p>
        <div class="container-brands-list-mobile-sidebar">
            <div class="majors-brands-mobile">
                <p class="nav-item-typo">Majors</p>
                <div class="list-majors-mobile">
                    <a class="second-sidebar-item-mobile" href="">Cassina</a>
                    <a class="second-sidebar-item-mobile" href="">Knoll</a>
                    <a class="second-sidebar-item-mobile" href="">Flos</a>
                    <a class="second-sidebar-item-mobile" href="">B&B Italia</a>
                    <a class="second-sidebar-item-mobile" href="">Ligne Roset</a>
                    <a class="second-sidebar-item-mobile" href="">Rochebobois</a>
                    <a class="second-sidebar-item-mobile" href="">Vitra</a>
                </div>
            </div>
            <div class="all-brands-mobile">
                <a class="nav-item-typo all-brands-link-mobile" href="">All Brands <img
                        src=" ../../public/media/svg-assets/arrow-white.svg" alt=""></a>
                <div class="container-double-list-all-brands">
                    <div class="column-allbrands-mobile nav-item-typo">
                        <a href="">Kartell</a>
                        <a href="">Herman Miller</a>
                        <a href="">Muuto</a>
                        <a href="">Moooi</a>
                        <a href="">Ethnicraft</a>
                        <a href="">Poltrona Frau</a>
                        <a href="">Cinna</a>
                        <a href="">Alessi</a>
                    </div>
                    <div class="column-allbrands-mobile nav-item-typo">
                        <a href="">Driade</a>
                        <a href="">Foscarini</a>
                        <a href="">Gubi</a>
                        <a href="">Poliform</a>
                        <a href="">Zanotta</a>
                        <a href="">USM</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="second-sidebar-item-mobile studios-craftmens-title">Studios & Craftsmen</p>
        <div class="container-list-studios-mobile">
            <div class="column-studio-list nav-item-typo">
                <a href="">Driade</a>
                <a href="">Moooi</a>
                <a href="">Ethnicraft</a>
                <a href="">Poltrona Frau</a>
                <a href="">Cinna</a>
                <a href="">Alessi</a>
            </div>
            <div class="column-studio-list nav-item-typo">
                <a href="">Driade</a>
                <a href="">Moooi</a>
                <a href="">Ethnicraft</a>
                <a href="">Poltrona Frau</a>
                <a href="">Cinna</a>
                <a href="">Alessi</a>
            </div>
            <div class="column-studio-list nav-item-typo">
                <a href="">Driade</a>
                <a href="">Moooi</a>
                <a href="">Ethnicraft</a>
                <a href="">Poltrona Frau</a>
                <a href="">Cinna</a>
                <a href="">Alessi</a>
            </div>
        </div>
        <a class="see-more-studios nav-item-typo">See All <img src="../../public/media/svg-assets/arrow-white.svg"
                alt=""></a>
    </div>
    <div class="creators-sidebar-submenu-mobile panelmobile3 panelmobilesub">
        <div class="back nav-item-typo"> <img src="../../public/media/svg-assets/arrow-back.svg" alt=""> Back</div>
        <p class="sidebar-item-mobile">Designers & Creators</p>
        <div class="container-brands-list-mobile-sidebar">
            <div class="majors-brands-mobile">
                <p class="nav-item-typo">Majors</p>
                <div class="list-majors-mobile">
                    <a class="second-sidebar-item-mobile" href="">Cassina</a>
                    <a class="second-sidebar-item-mobile" href="">Knoll</a>
                    <a class="second-sidebar-item-mobile" href="">Flos</a>
                    <a class="second-sidebar-item-mobile" href="">B&B Italia</a>
                    <a class="second-sidebar-item-mobile" href="">Ligne Roset</a>
                    <a class="second-sidebar-item-mobile" href="">Rochebobois</a>
                    <a class="second-sidebar-item-mobile" href="">Vitra</a>
                </div>
            </div>
            <div class="all-brands-mobile">
                <a class="nav-item-typo all-brands-link-mobile" href="">All Designers / Creators <img
                        src=" ../../public/media/svg-assets/arrow-white.svg" alt=""></a>
                <div class="container-double-list-all-brands">
                    <div class="column-allbrands-mobile nav-item-typo">
                        <a href="">Kartell</a>
                        <a href="">Herman Miller</a>
                        <a href="">Muuto</a>
                        <a href="">Moooi</a>
                        <a href="">Ethnicraft</a>
                        <a href="">Poltrona Frau</a>
                        <a href="">Cinna</a>
                        <a href="">Alessi</a>
                    </div>
                    <div class="column-allbrands-mobile nav-item-typo">
                        <a href="">Driade</a>
                        <a href="">Foscarini</a>
                        <a href="">Gubi</a>
                        <a href="">Poliform</a>
                        <a href="">Zanotta</a>
                        <a href="">USM</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="second-sidebar-item-mobile studios-craftmens-title">Architects</p>
        <div class="container-list-studios-mobile">
            <div class="column-studio-list nav-item-typo">
                <a href="">Driade</a>
                <a href="">Moooi</a>
                <a href="">Ethnicraft</a>
                <a href="">Poltrona Frau</a>
                <a href="">Cinna</a>
                <a href="">Alessi</a>
            </div>
            <div class="column-studio-list nav-item-typo">
                <a href="">Driade</a>
                <a href="">Moooi</a>
                <a href="">Ethnicraft</a>
                <a href="">Poltrona Frau</a>
                <a href="">Cinna</a>
                <a href="">Alessi</a>
            </div>
            <div class="column-studio-list nav-item-typo">
                <a href="">Driade</a>
                <a href="">Moooi</a>
                <a href="">Ethnicraft</a>
                <a href="">Poltrona Frau</a>
                <a href="">Cinna</a>
                <a href="">Alessi</a>
            </div>
        </div>
        <a class="see-more-studios nav-item-typo">See All <img src="../../public/media/svg-assets/arrow-white.svg"
                alt=""></a>
    </div>

</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.buttonpanelmobile1, .buttonpanelmobile2, .buttonpanelmobile3');
        var mainContainer = document.querySelector('.main-container-sidebar-mobile');

        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                // Ajoutez une classe avec opacité 0 à .main-container-sidebar-mobile
                mainContainer.classList.add('hide-container');

                var panelNumber = button.classList[1].replace('buttonpanelmobile', '');
                var panel = document.querySelector('.panelmobile' + panelNumber);

                // Ajoutez la classe active-panel au panneau correspondant
                panel.classList.add('active-panel');

                // Ajoutez la classe active-transition après un délai pour la transition d'opacité
                setTimeout(function () {
                    panel.classList.add('active-transition');
                }, 50); // ajustez la durée du délai en fonction de la durée de votre transition
            });
        });

        var backButton = document.querySelectorAll('.back');

        backButton.forEach(function (backButton) {
            backButton.addEventListener('click', function () {
                var activePanel = document.querySelector('.panelmobilesub.active-panel');

                // Ajoutez la classe pour gérer le z-index après un délai
                activePanel.classList.add('z-index-transition');

                // Supprimez la classe active-transition pour désactiver la transition d'opacité
                activePanel.classList.remove('active-transition');

                // Ajoutez un délai avant de supprimer la classe active-panel pour laisser la transition se terminer
                setTimeout(function () {
                    activePanel.classList.remove('active-panel', 'z-index-transition');
                    // Retirez la classe avec opacité 0 à .main-container-sidebar-mobile après la transition
                    mainContainer.classList.remove('hide-container');
                }, 0); // ajustez la durée du délai en fonction de la durée de votre transition
            });
        });

        var closeSidebarButton = document.querySelector('.close-sidebar-mobile');

        closeSidebarButton.addEventListener('click', function () {
            var sidebar = document.querySelector('.sidebar-mobile');

            // Retirez la classe "to-left-mobile-menu" du menu latéral
            sidebar.classList.remove('to-left-mobile-menu');

            // Retirez la classe "active-panel" et "active-transition" de tous les panneaux
            var activePanels = document.querySelectorAll('.panelmobilesub.active-panel');

            activePanels.forEach(function (panel) {
                panel.classList.remove('active-panel', 'active-transition', 'z-index-transition');
            });

            // Retirez la classe avec opacité 0 à .main-container-sidebar-mobile après la transition
            setTimeout(function () {
                mainContainer.classList.remove('hide-container');
            }, 0); // ajustez la durée du délai en fonction de la durée de votre transition
        });

        var sidebar = document.querySelector('.sidebar-mobile');

        sidebar.addEventListener('transitionend', function (event) {
            if (event.propertyName === 'left' && !sidebar.classList.contains('to-left-mobile-menu')) {
                // Retirez la classe "active-panel" et "active-transition" de tous les panneaux
                var activePanels = document.querySelectorAll('.panelmobilesub.active-panel');

                activePanels.forEach(function (panel) {
                    panel.classList.remove('active-panel', 'active-transition', 'z-index-transition');
                });

                // Retirez la classe avec opacité 0 à .main-container-sidebar-mobile après la transition
                setTimeout(function () {
                    mainContainer.classList.remove('hide-container');
                }, 300); // ajustez la durée du délai en fonction de la durée de votre transition
            }
        });

    });

    // document.addEventListener('DOMContentLoaded', function () {
    //     // ... (votre code existant)

    //     var titleItemDrops = document.querySelectorAll('.title-item-drop');

    //     titleItemDrops.forEach(function (titleItemDrop) {
    //         titleItemDrop.addEventListener('click', function () {
    //             var dropdownContent = titleItemDrop.nextElementSibling;
    //             var currentDropdownPlus = titleItemDrop.querySelector('.dropdown-plus');
    //             var currentDropdownMoins = titleItemDrop.querySelector('.dropdown-moins');

    //             // Fermer les autres dropdowns
    //             var otherTitleItemDrops = document.querySelectorAll('.title-item-drop.active-dropdown');
    //             otherTitleItemDrops.forEach(function (otherTitleItemDrop) {
    //                 var otherDropdownContent = otherTitleItemDrop.nextElementSibling;
    //                 var otherDropdownPlus = otherTitleItemDrop.querySelector('.dropdown-plus');
    //                 var otherDropdownMoins = otherTitleItemDrop.querySelector('.dropdown-moins');

    //                 otherDropdownContent.classList.remove('active-dropdown');
    //                 otherDropdownPlus.classList.remove('hide-opacity');
    //                 otherDropdownMoins.classList.remove('show-opacity');
    //             });

    //             // Toggle les classes pour le .container-dropdown-content associé
    //             dropdownContent.classList.toggle('active-dropdown');

    //             // Toggle les classes pour le .dropdown-plus et .dropdown-moins actuels
    //             currentDropdownPlus.classList.toggle('hide-opacity');
    //             currentDropdownMoins.classList.toggle('show-opacity');
    //         });
    //     });

    //     // ... (le reste de votre code)
    // });


    document.addEventListener('DOMContentLoaded', function () {
        var titleItemDrops = document.querySelectorAll('.title-item-drop');

        function removeDropdownClasses() {
            // Supprimer les classes des dropdowns
            var allDropdownContents = document.querySelectorAll('.container-dropdown-content');
            allDropdownContents.forEach(function (dropdownContent) {
                dropdownContent.classList.remove('active-dropdown');
            });

            var allDropdownPluses = document.querySelectorAll('.dropdown-plus');
            var allDropdownMoins = document.querySelectorAll('.dropdown-moins');
            allDropdownPluses.forEach(function (dropdownPlus) {
                dropdownPlus.classList.remove('hide-opacity');
            });
            allDropdownMoins.forEach(function (dropdownMoins) {
                dropdownMoins.classList.remove('show-opacity');
            });

            var allTitleItemDrops = document.querySelectorAll('.title-item-drop');
            allTitleItemDrops.forEach(function (titleItemDrop) {
                titleItemDrop.classList.remove('active-dropdown');
            });
        }

        titleItemDrops.forEach(function (titleItemDrop) {
            titleItemDrop.addEventListener('click', function () {
                var dropdownContent = titleItemDrop.nextElementSibling;
                var currentDropdownPlus = titleItemDrop.querySelector('.dropdown-plus');
                var currentDropdownMoins = titleItemDrop.querySelector('.dropdown-moins');

                // Fermer les autres dropdowns et retirer les classes ajoutées
                var otherTitleItemDrops = document.querySelectorAll('.title-item-drop');
                otherTitleItemDrops.forEach(function (otherTitleItemDrop) {
                    if (otherTitleItemDrop !== titleItemDrop) {
                        var otherDropdownContent = otherTitleItemDrop.nextElementSibling;
                        var otherDropdownPlus = otherTitleItemDrop.querySelector('.dropdown-plus');
                        var otherDropdownMoins = otherTitleItemDrop.querySelector('.dropdown-moins');

                        if (otherDropdownContent) {
                            otherDropdownContent.classList.remove('active-dropdown');
                        }
                        if (otherDropdownPlus) {
                            otherDropdownPlus.classList.remove('hide-opacity');
                        }
                        if (otherDropdownMoins) {
                            otherDropdownMoins.classList.remove('show-opacity');
                        }

                        otherTitleItemDrop.classList.remove('active-dropdown');
                    }
                });

                // Ajouter/retirer les classes pour le .container-dropdown-content associé
                if (dropdownContent) {
                    dropdownContent.classList.toggle('active-dropdown');
                }

                // Ajouter/retirer les classes pour le .dropdown-plus et .dropdown-moins actuels
                if (currentDropdownPlus) {
                    currentDropdownPlus.classList.toggle('hide-opacity');
                }
                if (currentDropdownMoins) {
                    currentDropdownMoins.classList.toggle('show-opacity');
                }

                titleItemDrop.classList.toggle('active-dropdown');
            });
        });
        // // Supprimer les classes lorsque .to-left-mobile-menu est retirée
        // var closeSidebarButton = document.querySelector('.close-sidebar-mobile');

        // closeSidebarButton.addEventListener('click', function () {
        //     var sidebar = document.querySelector('.sidebar-mobile');

        //     // Ajoutez ici le reste de votre code existant pour gérer la fermeture de la sidebar

        //     // Supprimer les classes des dropdowns
        //     removeDropdownClasses();
        // });
        var closeSidebarButton = document.querySelector('.close-sidebar-mobile');
        var backButton = document.querySelectorAll('.back'); // Sélectionnez tous les boutons .back

        function handleBackButtonClick() {
            var sidebar = document.querySelector('.sidebar-mobile');

            // Ajoutez ici le reste de votre code existant pour gérer la fermeture de la sidebar

            // Supprimer les classes des dropdowns
            removeDropdownClasses();
        }

        closeSidebarButton.addEventListener('click', handleBackButtonClick);

        // Ajoutez un gestionnaire d'événement à chaque bouton .back
        backButton.forEach(function (backButton) {
            backButton.addEventListener('click', handleBackButtonClick);
        });




    });

</script>