@import "../../scss/variables";

@media (max-width: 800px) {
  .sidebar-mobile {
    width: 100vw;
    height: 100vh;
    background-color: $donzelli1;
    z-index: 50;
    position: fixed;
    top: 0;
    left: 100vw;
    transition: 0.3s ease;
    padding: 50px 10px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .to-left-mobile-menu {
    left: 0vw;
    transition: 0.3s ease;
  }

  .main-container-sidebar-mobile {
    padding-top: 30px;
    width: 100%;
    background-color: $donzelli1;
    z-index: 200;
    transition: opacity 0.3s ease;
  }

  .hide-container {
    opacity: 0;
  }

  .container-items-nav-mobile-sidebar {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    .new-tick {
      padding: 6px 10px !important;
      height: fit-content;
      border: 1px solid $donzelli3;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 120%;
      margin-left: 10px;
      position: relative;
      top: 2px;

      .redpoint {
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background-color: red;
        margin-left: 5px;
        animation: redDot 2s linear infinite;
      }

      @keyframes redDot {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.1;
        }
        100% {
          opacity: 1;
        }
      }
    }
    .sidebar-item-mobile {
      margin-bottom: 13px;
      display: flex;
      align-items: center;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;

      img {
        width: 20px;
        mix-blend-mode: difference;
      }
    }
  }

  .studiopro-sidebar-mobile {
    width: 100%;
    height: auto;
    position: relative;

    .sidebar-item-mobile {
      border: 2px solid $donzelli3;
      border-radius: 999px;
      padding: 3px 10px;

      display: inline-block;
      width: fit-content;
      transition: 0.3s ease;
      &:hover {
        background-color: $donzelli3;
        color: $donzelli1 !important;
      }

      img {
        mix-blend-mode: difference;
        width: 20px;
        margin-left: 5px;
        position: relative;
        top: -3px;
      }
    }

    a {
      width: 100%;
      height: 100%;
    }

    p {
      margin-top: 8px;
    }
  }

  .secondary-nav-sidebar-mobile {
    margin-top: 40px;
    display: flex;
    .list-secondary-nav-sidebar-mobile {
      display: flex;
      flex-direction: column;
      margin-right: 70px;

      .grey {
        color: $donzelli4;
      }

      .verified-sidebar {
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
          mix-blend-mode: difference;
          width: 15px;
        }
      }

      a {
        margin-bottom: 13px;
        width: fit-content;
        height: fit-content;
      }
    }
  }

  .panelmobilesub {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $donzelli1;
    width: 100vw;
    height: 100vh;
    padding: 50px 10px;
    padding-top: 80px;
    opacity: 0;
    transition: opacity 0.3s ease, z-index 0.3s ease; /* Ajout de la transition pour le z-index */
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 200px;
  }

  .active-panel {
    opacity: 1;
  }

  .active-transition {
    z-index: 201;
  }

  .z-index-transition {
    z-index: 0; /* Valeur du z-index au repos */
  }

  .back {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 250px;
    background-color: $donzelli1bis;
    display: flex;
    align-items: center;
    width: fit-content;
    img {
      margin-right: 10px;
      mix-blend-mode: difference;
    }
  }

  .close-sidebar-mobile {
    cursor: pointer;
  }

  .items-sidebar-submenu-mobile {
    .sidebar-item-mobile {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .container-items-dropdown {
      .item-dropdown {
        margin-bottom: 13px;
      }
    }
  }

  .item-dropdown {
    display: flex;
    flex-direction: column;
  }

  .title-item-drop {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    .container-button-dropdown {
      position: relative;
      width: 21px;
      height: 21px;
    }
  }

  .container-dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    opacity: 0;
    height: 0;
    margin-left: 30%;
    width: 0;
    position: relative;
    left: 80vw;
    padding: 0;
    a {
      height: 0;
      width: 0;
    }
  }

  .container-dropdown-content.active-dropdown {
    height: 100%;
    opacity: 1;
    margin-top: 20px;
    transition: opacity 0.3s ease;
    width: fit-content;
    left: 0vw;
    margin-bottom: 30px;
    .first-all-button {
      margin-bottom: 20px;
      text-underline-offset: 2px;
      text-decoration: underline;
      color: $donzelli3;
    }
    a {
      margin-bottom: 10px;
      height: auto;
      width: fit-content;
      color: $donzelli4;
    }
  }

  .dropdown-plus {
    opacity: 1;
    transition: opacity 0.3s ease;

    position: absolute;
    right: 0;
    display: flex;
    background-color: $donzelli1;
    img {
      mix-blend-mode: difference !important;
    }
  }

  .dropdown-moins {
    transition: opacity 0.3s ease;

    position: absolute;
    right: 0;
    display: none;
    background-color: $donzelli1;
    img {
      mix-blend-mode: difference !important;
    }
  }

  .dropdown-plus.hide-opacity {
    display: none;
  }

  .dropdown-moins.show-opacity {
    display: flex;
  }

  .rooms-container-sidebar-menu-items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .container-rooms-sidebar-mobile {
      display: flex;
      .room-container-mobile {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        .column-list-room-mobile {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          a {
            margin-bottom: 10px;
            color: $donzelli4;
          }
        }
      }
    }
    .view-more-rooms-link {
      display: block;
      position: relative;
      text-underline-offset: 2px;
      text-decoration: underline;
      margin-top: 40px;

      img {
        mix-blend-mode: difference !important;
        width: 10px;
        // margin-left: 5px;
        position: relative;
        top: 0px;
        right: -5px;
      }
    }
  }

  .brands-sidebar-submenu-mobile,
  .creators-sidebar-submenu-mobile {
    .sidebar-item-mobile {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .container-brands-list-mobile-sidebar {
      display: flex;
      align-items: flex-start;
      // border: 1px solid red;

      .majors-brands-mobile {
        margin-right: 70px;
        p {
          color: $donzelli4;
          line-height: 100%;
        }
        .list-majors-mobile {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          a {
            margin-bottom: 10px;
          }
        }
      }

      .all-brands-mobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .all-brands-link-mobile {
          position: relative;
          height: fit-content;
          width: fit-content;
          text-underline-offset: 2px;
          text-decoration: underline;

          img {
            mix-blend-mode: difference !important;
            width: 10px;
            // margin-left: 5px;
            position: absolute;
            top: 2px;
            right: -20px;
          }
        }
        .container-double-list-all-brands {
          margin-top: 17px;
          display: flex;

          .column-allbrands-mobile {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            a {
              color: $donzelli4;
              padding-bottom: 10px !important;
            }
          }
        }
      }
    }
    .studios-craftmens-title {
      margin-top: 50px;
      margin-bottom: 30px;
      position: relative;
      display: flex;
    }

    .container-list-studios-mobile {
      width: 100%;
      display: flex;
    }

    .column-studio-list {
      margin-right: 40px;
      display: flex;
      flex-direction: column;

      a {
        color: $donzelli4;
        padding-bottom: 10px !important;
      }
    }

    .see-more-studios {
      display: block;
      position: relative;
      text-underline-offset: 2px;
      text-decoration: underline;
      margin-top: 40px;

      img {
        mix-blend-mode: difference !important;
        width: 10px;
        // margin-left: 5px;
        position: relative;
        top: 0px;
        right: -5px;
      }
    }
  }
}
