@import "../variables";
body,
main {
  overflow-x: initial !important;
}

@media (max-width: 800px) {
  body,
  main {
    overflow-x: hidden !important;
  }
}

@media (max-width: 800px) {
  .header-mobile {
    img {
      mix-blend-mode: difference;
    }
    .logo-header-mobile-white {
      display: none !important;
    }

    .logo-header-mobile-mix {
      display: block !important;
    }
  }
}

.other-links-header {
  left: calc((8.33vw * 7.67) - 9px);
}

.heading-product-page {
  width: calc(100vw);
  margin-left: -10px;
  flex-flow: row wrap;
  position: relative;
  display: flex;
}

@media (max-width: 800px) {
  .heading-product-page {
    flex-direction: column;
  }
}

.container-images-heading-product-page {
  width: 55%;
  position: sticky;

  top: 0;
  //   overflow: hidden;
  z-index: 1;
  .arrow-slide-pics-product-heading-mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .container-images-heading-product-page {
    width: 100%;
    height: 55vh;
    position: relative;
    .arrow-slide-pics-product-heading-mobile {
      display: block;
      position: absolute;
      bottom: 20px;
      right: 15px;
      transform: rotate(45deg);
      animation: clignArrow 2s infinite linear;
      mix-blend-mode: difference;
    }

    @keyframes clignArrow {
      0% {
        opacity: 0.2;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.2;
      }
    }
  }
}

.sub-container-heading-product {
  //   display: flex;
  //   flex-direction: column;
  img {
    width: 100%;
    height: 92vh;
    object-fit: cover;
    position: relative;
    // margin-bottom: 0.3px;

    // border: 1px solid red;
  }
}

@media (max-width: 800px) {
  .sub-container-heading-product {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: scroll !important;
    /* width */
    &::-webkit-scrollbar {
      width: 1px;
      height: 2px;
      display: block;
      position: relative;
      top: 2px;
      -webkit-appearance: none;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: $donzelli1bis;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $donzelli3;
      display: block;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $donzelli3;
    }
    img {
      height: 100%;
      width: 100vw !important;
    }
  }
}

.w-back-photo-product-heading {
  background-color: $donzelli1bis;
}

.fixed-heading-product-head {
  width: 45%;
  box-sizing: border-box;
  position: relative;
  //   border: 1px solid blue;
}
@media (max-width: 800px) {
  .fixed-heading-product-head {
    width: 100%;
  }
}

.container-main-infos-product-heading {
  min-height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: flex-end;
}

@media (max-width: 800px) {
  .container-main-infos-product-heading {
    position: relative;
    min-height: auto;
  }
}

.maincontent-heading-product {
  width: fit-content;
  // border: 1px solid blue;
  width: calc((8.33vw * 4.35) + 8px);
  padding-top: 12vh;
}

@media (max-width: 800px) {
  .maincontent-heading-product {
    width: 100%;
    padding: 0px 10px;
    padding-top: 20px;
  }
}

.priceproduct {
  margin-top: 10px;
}

@media (max-width: 800px) {
  .priceproduct {
    margin-top: 10px;
  }
}

.introdescription-subprice {
  margin-top: 20px;
  width: 70%;
  max-width: 350px;
  color: $donzelli4;
}
@media (max-width: 800px) {
  .introdescription-subprice {
    width: 95%;
    max-width: fit-content;
    margin-top: 10px;
  }
}
.container-description-cta-options {
  margin-top: 5vh;
  //   border: 1px solid red;
  width: 70%;
  max-width: 350px;
  .button-type-1 {
    margin-top: 2vh;
    margin-bottom: 20px;
  }
  .description-heading-product {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .container-description-cta-options {
    width: 100%;
    max-width: fit-content;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    .button-type-1 {
      margin-top: 0vh;
      margin-bottom: 15px;
    }
  }
}

.options-product-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $donzelli2;
  width: 100%;
}

@media (max-width: 800px) {
  .options-product-heading {
    margin-top: 40px;
  }
}

.line-option-product-heading {
  display: flex;
  justify-content: space-between;

  width: 100%;
  //   border: 1px solid red;
  padding: 14px 0px;
  border-bottom: 1px solid $donzelli2;
  .differents-options-product-heading {
    display: flex;
    a,
    p {
      margin-left: 15px;
    }
    a {
      color: $donzelli4;
      transition: 0.3s ease;
      &:hover {
        color: $donzelli3;
      }
    }
  }
}

.container-links-onpage-products-heading {
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  margin-bottom: 20px;
  a {
    margin-bottom: 20px;
    color: $donzelli3;
    width: fit-content;
    transition: 0.3s ease;
    &:hover {
      color: $donzelli4;
    }
  }
}

@media (max-width: 800px) {
  .container-links-onpage-products-heading {
    flex-direction: row;
    margin-top: 60px;
    width: 100%;
    // justify-content: space-between;
    a {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}
