@import "../variables";

.options-product-section {
  display: flex;
  width: 100vw;
  margin-left: -10px;
  margin-top: 0vh;
  position: relative;
}

@media (max-width: 800px) {
  .options-product-section {
    flex-direction: column-reverse;
    margin-top: 10vh;
  }
}

.container-img-options-product-page {
  width: 45%;
  background-color: $donzelli1bis;
  //   border: 1px solid red;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .container-img-options-product-page {
    width: 100%;
    height: 50vh;
  }
}

.container-infos-options-table-product-page {
  width: 55%;
}

@media (max-width: 800px) {
  .container-infos-options-table-product-page {
    width: 100%;
  }
}

.scroll-options-container {
  width: 100%;
  padding-bottom: 25vh;
  .maincontent-heading-product {
    padding-top: 15vh;
    margin-left: calc(8.33vw * 1);

    .container-description-cta-options {
      width: 90%;
      max-width: fit-content;
    }

    .container-create-options-product-page {
      width: 90%;
      margin-top: 20px;
    }

    .container-create-bullets {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      p {
        margin-bottom: 10px;
      }
    }

    .container-consultation-product-page {
      width: 90%;
      height: 40vh;
      border-radius: 5px;
      background-color: $donzelli1bis;
      //   border: 1px solid $donzelli4;
      padding: 20px 25px;
      margin-top: 5vh;
      position: relative;
      overflow: hidden;
    }

    .book-description {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .book-link {
      img {
        margin-left: 7px;
        mix-blend-mode: difference;
        width: 10px;
      }
    }

    .back-consultation-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .container-two-buttons-devis-whatsapp {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% + 0px);
      //   margin-left: -25px;
      height: 40px;
      border-top: 1px solid $donzelli1bisbis;
      display: flex;

      .button-consultation {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding-left: 10px;
        transition: 0.3s ease;

        &:hover {
          background-color: $donzelli1bisbis;
        }
      }

      .button-consultation1 {
        border-right: 1px solid $donzelli1bisbis;
      }
    }

    .line-flux-sticky {
      width: 55vw;
      position: relative;
      height: 1px;
      right: calc(8.33vw * 1);
      background-color: $donzelli2;
      margin-top: 12vh;
      margin-bottom: 12vh;
    }

    .container-verified-program-product-page {
      width: 90%;
      //   margin-top: 12vh;
      max-width: fit-content;
    }

    .container-badge-options-product-page {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;

      .underlined1 {
        transition: 0.3s ease;
        &:hover {
          color: $donzelli4;
        }
      }
    }

    .badge-verified-options {
      background-color: $donzelli1bis;
      border-radius: 300px;
      padding: 12px 15px;
      border-radius: 400px;
      //   border: 1px solid $donzelli3;
      color: $donzelli3;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: 0.3s ease;
      width: fit-content;
      img {
        mix-blend-mode: difference;
        margin-right: 10px;
      }

      &:hover {
        background-color: $donzelli3;
        color: $donzelli1;
      }
    }

    .description-verified-brand {
      width: 100%;
      margin-top: 40px;
    }

    .differents-options-product-heading {
      display: flex;
      flex-direction: column;
      text-align: end;
      div {
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
        p {
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .scroll-options-container {
    padding-bottom: 0;
    .maincontent-heading-product {
      margin-left: 0;
      padding-top: 20px;

      .container-description-cta-options,
      .container-create-options-product-page,
      .container-consultation-product-page,
      .container-verified-program-product-page {
        width: 100%;
      }

      .line-flux-sticky {
        width: 100%;
        right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .container-verified-program-product-page {
        background-color: $donzelli1bis;
        padding: 20px 25px 25px;
        border-radius: 5px;

        .options-product-heading {
          margin-top: 80px;
        }
      }

      .container-badge-options-product-page {
        margin-top: 15px;
      }

      .description-verified-brand {
        margin-top: 20px;
      }

      .badge-verified-options {
        background-color: $donzelli3;
        color: $donzelli1;
      }
    }
  }
}
