.sidebar-content-click {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin-left: -10px;
  margin-top: 0vh;
  position: fixed;
  right: -50vw;
  overflow: scroll;
  height: 100vh;
  top: 0;
  background-color: $donzelli1;
  z-index: 800;
  transition: 0.3s ease;
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .sidebar-content-click {
    right: -100vw;
    width: 100%;
    width: 100%;
    padding: 0px 10px;
  }
}

.opened-verified {
  right: 0;
}

.open-verified-bar {
  cursor: pointer;
}

.verified-program-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button-verified {
  position: absolute;
  right: 30px;
  top: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 50;
  &:hover {
    color: $donzelli4;
  }
}

@media (max-width: 800px) {
  .close-button-verified {
    right: auto;
    left: 20px;
    top: 20px;
  }
}

.opened-history {
  right: 0;
}

.open-history-bar {
  cursor: pointer;
}

.history-sidebar {
  display: flex;
}

.close-button-history {
  position: absolute;
  right: 30px;
  top: 25px;
  cursor: pointer;
  transition: 0.3s ease;
  z-index: 50;
  &:hover {
    color: $donzelli4;
  }
}

@media (max-width: 800px) {
  .close-button-history {
    right: auto;
    left: 20px;
    top: 20px;
  }
}
