@import "../variables";

.story-container-product-page {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;

  .heavytitle {
    margin-bottom: 20px;
    margin-left: calc(8.33vw * 2);
  }
}

@media (max-width: 800px) {
  .story-container-product-page {
    margin-top: 10vh;

    .heavytitle {
      margin-left: 0;
    }
  }
}

.intro-story-product-page {
  margin-bottom: 5vh;
}

.full-width-story-img {
  width: 100vw;
  margin-left: -10px;
}

.history-part1-text-product {
  margin-top: 20px;
  width: calc(80%);
}

@media (max-width: 800px) {
  .history-part1-text-product {
    width: 100%;
  }
}

.history-part2-text-product {
  display: flex;
  margin-top: 50px;
  padding-left: calc((8.33vw * 2) - 0px);
  p {
    width: 18%;
    max-width: 200px;
    margin-right: 50px;
  }
}

@media (max-width: 800px) {
  .history-part2-text-product {
    padding-left: 0;
    flex-direction: column;
    margin-top: 40px;
    p {
      width: 100%;
      max-width: fit-content;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}
