@import "./heading-product", "./story-product", "./options-product",
  "./brands-verified-class", "./brands-cta-class", "./brand-section-product",
  "./selector-other-products", "./sidebar-content-click", "../variables";

main {
  margin-top: 0;
}

header {
  transition: 0.55s ease;

  .line-header-grey {
    transition: 0.55s ease;
  }
}

.background-product-page-header {
  background-color: rgba(255, 255, 255, 0) !important;
  mix-blend-mode: difference;
  transition: 0s ease;

  .element {
    color: $donzelli1;
    transition: 0s ease;
  }

  .other-links-header a {
    color: $donzelli4;
  }

  .line-header-grey {
    opacity: 0;
    transition: 0s ease !important;
  }

  .studiopro-button-header {
    border: 1px solid $donzelli1;
    color: $donzelli1;

    .point {
      background-color: $donzelli1;
    }

    &:hover {
      background-color: $donzelli1;
      color: $donzelli3;

      .point {
        background-color: cyan;
      }
    }
  }

  .burger-sidebar-desk {
    background-color: $donzelli1;
    border: 1px solid $donzelli1;
    color: $donzelli3;

    &:hover {
      background-color: transparent;
      color: $donzelli1;
    }
  }
}

.background-product-page-headerM {
  background-color: transparent;
  mix-blend-mode: difference;
  .line-color-bottom-header-mobile {
    opacity: 0;
  }

  .close-sidebar-mobile {
    background-color: #000;
    color: $donzelli1;
  }

  .burger-mobile {
    color: $donzelli1;
    .line {
      background-color: $donzelli1 !important;
    }
  }
}

.fixed-button-whatsapp {
  display: flex;
}

.back-sidebar-details,
.back-sidebar-verified,
.back-sidebar-history {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.3s ease;
  z-index: -100;
  cursor: pointer;
}

.back-sidebar-appear {
  opacity: 1;

  z-index: 400;
  transition: 0.3s ease;
}

.fixbodyscroll {
  overflow: hidden;
}
